[submodule "causal_graphs/blender/addons/blender-egg-importer"]
	path = causal_graphs/blender/addons/blender-egg-importer
	url = https://github.com/CNCLgithub/blender-egg-importer
[submodule "blender/addons/blender-egg-importer"]
	path = blender/addons/blender-egg-importer
	url = https://github.com/CNCLgithub/blender-egg-importer
